$primary-color:#C21A3A;
$secondary-color:#20334D;

$background-color:#F7F7F7;

$primary-font:'Roboto', sans-serif;
$font-size:16px;

$primary-font-color:#20334D;
$secondary-font-color:#1F324E;
$third-font-color:#6A6975;

$colors:$primary-color,$secondary-color;
$fonts:$primary-font;
$font-colors:$primary-font-color,$secondary-font-color,$third-font-color;
